.addButton {
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.courseInfo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.courseForm {
  margin-left: auto;
  margin-right: auto;
}

.submitButton {
  width: 25%;
  display: block;
  margin-left: auto;
  background-color: #95dada;
  margin-right: auto;
}

.input {
  #dynamic_form_nest_item_courses_0_course {
    width: 5px;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
  }
}

#input {
  align-self: center;
}

.border {
  align-content: center;
  justify-content: space-around;
}
