.addButton {
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.courseInfo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.submitButton {
  width: 25%;
  display: block;
  margin-left: auto;
  background-color: #95dada;
  margin-right: auto;
}
