.course-page {
  .ant-layout {
    background-color: #001529;
  }
}

.input {
  max-width: 10em;
  justify-content: center;
  display: block;

  Input {
    margin-left: auto;
    margin-right: auto;
  }
}
