.Header {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 1em;
  margin-bottom: 2em;
  color: #fff;
  background: #c4c4c4;
  background-image: url('https://i.imgur.com/ECroi3E.jpg');

  h1 {
    color: red;
  }
}
