.Nav {
  .headbackground {
    background-image: url('https://i.imgur.com/ECroi3E.jpg');
  }

  .ant-menu.ant-menu-dark .ant-menu-item-selected {
    font-size: 2em;
    background-color: #95dada;
    color: black;
    font-weight: 600;
  }

  padding-bottom: 2em;
}
